.item-card {
  cursor: pointer;
  overflow: hidden;
  margin-right: 1px;
  margin-left: 1px;
  outline: none;
  ion-grid {
    padding: 0;
    ion-row {
      ion-col {
        .color-unset {
          color: unset !important;
        }
        p {
          margin: 0%;
          padding: 0;
        }
        padding: 0;
        .item-img {
          border-radius: 5px;
          height: 110px;
        }
        .item-details {
          padding: 5px 10px;
          h6 {
            font-size: 85%;
            margin: 0;
            margin-bottom: 1%;
            padding-right: 18px;
            text-transform: capitalize;
          }
          span {
            font-size: 13px;
            margin: 0;
            margin-bottom: 5px;
            color: var(--ion-color-medium-shade);
          }
          .prize {
            color: var(--ion-color-primary);
            font-weight: 500;
            font-size: 90%;
          }
          .rating {
            position: absolute;
            right: 5px;
            color: #0bc734;
            font-size: 75%;
            padding: 2px 6px;
            background: #caf7ca75;
            border-radius: 3px;
            ion-icon {
              font-size: 7px;
              margin-bottom: 1.5px;
              margin-right: 2px;
            }
          }
          .status {
            color: var(--ion-color-secondary);
            margin-top: 10px;
            text-transform: lowercase;
            font-size: 80%;
          }

          .cart-style{
            display:flex;
            p{
              flex: 0.23;
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.add-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 75%;
  text-transform: capitalize;
  height: 22%;
  background: rgba(var(--ion-color-secondary-rgb), 0.15);
  border-radius: 3px;
  z-index: 100;
  margin: 0;
}
.count-btn {
  display: flex;
  flex-direction: row;
  background: unset;
  overflow: hidden;
  border: 1px solid rgba(var(--ion-color-secondary-rgb), 0.3);
  span {
    padding: 6px;
    font-weight: 500;
  }
  .add-del-btn {
    margin: 0;
    height: 100%;
    font-size: 80%;
    background: rgba(var(--ion-color-secondary-rgb), 0.15);
    --padding-end: 20%;
    --padding-start: 20%;
  }
}
.cart{
  height: 24px;
}
.product{
  height: 22%;
}